*{
    margin: 0px;
    padding: 0px;
}

h1 {
    font:bold;
    font-size: 20px;
    font-family: verdana, arial, sans-serif;
}

h2{
    font: bold 14px verdana, arial, sans-serif;
}

body{
    text-align: center;
}

#cuerpo {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#cabecera {
    background: #bd9989 ;
    border: 1px solido #27201c;
    padding: 20px;
}

#menu{
    background: #999999;
    padding: 5px 15px;
}

.nav-enlace{
    display: inline-block;
    background: #fa8f8f;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    -moz-box-shadow:rgb(150,150,150) 5px 5px;
    -webkit-box-shadow:rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px;
}

.nav-enlace:hover{
    background: rebeccapurple;
}


#seccion{
    float: left;
    width: 660px;
    margin: 20px;
    background: #fa8f8f;
}

.articulo{
    background: #fffbcc;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    -moz-box-shadow:rgb(150,150,150) 5px 5px;
    -webkit-box-shadow:rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px;

}

p {color:#f1600b
}

.parrafo1{
  color: #27201c;
  background-color: aqua;
}
    
#lateral{
    float: left;
    width:220px;
    margin:20px 0px;
    padding:20px;
    background: #999999;
}

#pie{
    clear: both;
    text-align: center;
    padding:20px;
    border-top:5px solid #999999;
}

/* kjkgkgkgfkk */